* {
  font-family: "Kanit", Tahoma, sans-serif;
}

body.bg_index {
  background-image: url("../images/bg_main.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
body.bg_schedule {
  background-image: url("../images/bg_schedule.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.contain-menu{
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.icon-hamberger {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
}
.footer-index{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.header-index {
  background-image: url("../images/bg_header_index.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: #020641;*/
  /*height: 100vh;*/
  position: relative;
}
.header-schedule {
  width: 100%;
  height: 10rem;
}
.header-menu-schedule {
  margin-top: 10rem;
}
.breadcrumb.breadcrumb-mfb {
  background-color: transparent;
  margin-bottom: 0;
}
.breadcrumb.breadcrumb-mfb .breadcrumb-item {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.breadcrumb.breadcrumb-mfb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #fff;
}
.bg-date {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.5rem;
  background-image: url("../images/bg-date.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.card-scedule {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #fff;
  border-radius: 10px;
}
.time-scedule {
  color: #ed1c24;
}
.title-detail-scedule {
  color: #0068b3;
}
.detail-scedule {
  text-indent: 2rem;
  margin-bottom: 0;
}
.div-detail-right-scedule {
  border-left: 1px solid #000;
}

.contain-logo-index {
  padding-top: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.div-robot-left{
  display: none;
}
.div-robot-right{
  display: none;
}

.btn-login {
  height: 40px;
  background-color: #0068b3;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1.5rem;
}

.div-lang {
  height: 40px;
  background-color: #ed1c24;
  overflow: hidden;
  width: 90px;
  border-radius: 3px;
  background-image: url("../images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  margin: 0.375rem;
}

.div-lang .select-lang {
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 40px;
  padding: 2px;
  padding-left: 5px;
  width: 90px;
  color: #fff;
}
.div-lang .select-lang option {
  background-color: #ed1c24;
}

.content-header {
}
.new-logo-index {
  width: 45%;
  max-width: 838px;
  margin-bottom: 2rem;
}
.img-we-are-all-maker {
  width: 45%;
  max-width: 838px;
  margin-bottom: 2rem;
}
.btn-live-facebook {
  height: 2.5rem;
}
.bg-modal-login {
  background-color: #020641;
  background-image: url("../images/bg_header_index.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 5px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.modal-login-right {
  border-left: 2px solid #fff;
}
.custom-input-reg {
  border-right: none;
}
.custom-input-icon-reg {
  background-color: #fff;
}
.custom-input-icon-reg i {
  color: #ed1c24;
}
.p-forgotpass {
  color: #fff;
  text-decoration: underline;
}
.btn-login-modal {
  background-color: #ed1c24;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-login-modal.active{
  background-color: #7e080c;
  text-decoration: underline;
}
.select-sex-age {
  background-image: url("../images/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
select.select-sex-age::-ms-expand {
  display: none !important;
}

.custom-control-input:checked ~ .custom-control-label.custom-mfb-radio::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #ed1c24;
}
.custom-radio .custom-control-label.custom-mfb-radio::before,
.custom-radio .custom-control-label.custom-mfb-radio::after {
  border-radius: 4px;
}
.linknav {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  padding: 0.5rem 1rem;
}
.linknav {
  border-left: 1px solid #ed1c24;
  border-right: 1px solid #ed1c24;
}
.linknav:first-of-type {
  border-left: none;
}
.linknav:last-of-type {
  border-right: none;
}
.linknav:hover {
  color: #fff;
  background-color: #ed1c24;
}
.linknav.active {
  background-color: #ed1c24;
  color: #fff;
}
.dropdown-menu.dropdown-mfb {
  min-width: 300px;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-menu.dropdown-mfb .dropdown-item {
  font-size: 18px;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.dropdown-menu.dropdown-mfb .dropdown-item:hover {
  background-color: #ed1c24;
  color: #fff;
}
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
footer {
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.icon-footer {
  width: auto;
  min-width: 85px;
  max-width: 185px;
  height: 80px;
}
.contain-map {
  width: 100%;
  height: 100%;
  background-color: #d1d2d4;
  border-radius: 10px;
  padding: 15px;
}
.readmore {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}
.btn-take {
  background-color: #0068b3;
  position: absolute;
  right: 0;
  z-index: 900;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bg-news-title {
  background-color: #0068b3;
}
.border-bg-news-title {
  border-bottom: 2px solid #0068b3;
}
.card-news {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 20rem;
}
.card-news2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 10rem;
}
.overlay-div-news {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.8rem;
  color: #fff;
}
.text-overlay-news,
.text-overlay-news2 {
  font-size: 16px;
  color: #fff;
  text-indent: 1.5rem;
  margin-bottom: 0;
}
.icon-news {
  position: absolute;
  top: 20px;
  left: 15px;
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: #ed1c24;
}
.title-news-all {
  color: #0068b3;
}
.detail-news-all {
  text-indent: 1.5rem;
  font-size: 16px;
  color: #000;
  margin-bottom: 2rem;
}
.a-link-news {
  position: absolute;
  width: 100%;
  height: 100%;
}
.carousel-indicators .active {
  background-color: #ed1c24;
}
.btn-like{
  background-color: #ed1c24;
}
.btn-vote{
  background-color: #0068b3;
}
.views-detail-news {
  position: absolute;
  right: 15px;
  top: 0;
}
.p-detail-news {
  font-size: 16px;
  color: #000;
  text-indent: 1.5rem;
}
.div-contain-name-team {
  padding-top: 0.5rem;
}
.div-bottom-team{
  width: 100%;
  display: flex;
}
.div-view{
  text-align: center;
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.div-vote{
  text-align: center;
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  background-color: #0068b3;
  font-size: 18px;
  font-weight: 500;
}

.bg-vote{
  background-color: #0068b3;
}
.card-map{
  height: 600px;
}
.title-map{
  font-size: 1rem;
  color: #0068b3;
}
.sub-map{
  font-size: 1rem;
  color: #000;
}
.td-workshop{
  vertical-align : middle!important;
  text-align: center;
}
.time-table{
  border-collapse: separate;
  border-spacing: 5px;
}
.time-table thead tr th{
  font-size: 18px;
}
.time-table tbody tr td{
  font-size: 16px;
}
.link-card-gal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  cursor: pointer;
}
@media screen and (min-width: 1200px){
  .header-index {
    background-image: url("../images/bg_header_index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #020641;*/
    height: 100vh;
  }
}
@media screen and (min-width: 1000px) {
  .owl-stage {
    margin: 0 auto;
  }
  .text-overlay-news2 {
    font-size: 16px;
    color: #fff;
    text-indent: 1.5rem;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .div-contain-name-team {
    height: 75%;
    display: flex;
    justify-content: start;
    align-self: center;
    align-items: center;
  }
  .div-bottom-team{
    height: 25%;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
  }
}
@media screen and (min-width:769px){
  main{
    min-height: 100vh;
  }
}
@media screen and (min-width: 768px) {
  .div-contain-name-team {
    height: 60%;
    display: flex;
    justify-content: start;
    align-self: center;
    align-items: center;
  }
  .div-bottom-team{
    height: 40%;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
  }
  .div-view{
    text-align: center;
    width: 50%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-vote{
    text-align: center;
    width: 50%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0068b3;
  }
}
@media screen and (max-width: 768px) {
  .navbar-collapse.custom-nav-collapse {
    padding: 1rem 3rem;
    background-color: #fff;
    z-index: 999;
    border-radius: 10px;
  }
  .card-map{
    height: 400px;
  }
  .navbar-collapse.custom-nav-collapse .navbar-nav .nav-item a.nav-link {
    color: #000;
  }
  .img-logo {
    width: 80%;
    margin-top: -20px;
  }
  .header-index {
    background-image: url("../images/bg_header_index.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    /*background-color: #020641;*/
    height: 100%;
  }
  .modal-login-right {
    border-left: none;
    border-top: 2px solid #fff;
  }
  .menu-mobile-fixed{
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .img-we-are-all-maker {
    width: 90%;
    max-width: 838px;
    margin-bottom: 2rem;
  }
  .contain-logo-index {
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  .card-news {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 15rem;
  }
  .card-news2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 15rem;
  }
  .header-schedule {
    height: 6rem;
  }
  .div-robot-left{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 25%;
    opacity: 0.5;
  }
  .div-robot-right{
    display: block;
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 25%;
    opacity: 0.5;
  }
}
@media screen and (min-width: 516px) and (max-width: 1024px){
  .new-logo-index {
    width: 80%;
    max-width: 838px;
    margin-bottom: 3rem;
  }
  .header-index{
    min-height: 768px;
    height: 100vh;
    margin-bottom: 6rem;
  }
  .footer-index{
    bottom: -6rem;
  }
}

@media screen and (max-width: 515px) {
  body.bg_schedule {
    background-image: url("../images/bg_schedule.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .header-index{
    min-height: 100vh;
  }
  .header-schedule {
    height: 8rem;
  }
  .div-detail-right-scedule {
    border-left: none;
    border-top: 1px solid #000;
    padding-top: 1rem;
  }
  .contain-menu{
    bottom: 130px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }
  .new-logo-index {
    width: 90%;
    max-width: 838px;
    margin-top: 5.5rem;
    margin-bottom: 3rem;
  }
  .img-we-are-all-maker {
    width: 90%;
    max-width: 838px;
    margin-bottom: 2rem;
  }
  .contain-logo-index {
    padding-top: 1.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  .btn-live-facebook {
    height: 2rem;
  }
  .div-robot-left{
    display: block;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 40%;
    opacity: 0.5;
  }
  .div-robot-right{
    display: block;
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 40%;
    opacity: 0.5;
  }
}
